# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual env
venv/
env/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Data
data/raw/
data/processed/

# Outputs
outputs/
models/
checkpoints/

# HuggingFace cache
.cache/
huggingface/

# Colab
content/

# Secrets
.env